version: '3.3'
services:
  db:
    image: mingchanoknan/mysql-pjdevtool:1.0
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    ports:
      - 3306:3306
    environment:
      - MYSQL_DATABASE=health-alert
      - MYSQL_USER=user
      - MYSQL_ROOT_PASSWORD=password
    healthcheck:
      test: curl --fail http://54.163.234.235:3306 || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s

  backend:
    image: mingchanoknan/backend-express-pjdevtool:1.0
    build: ./backend
    command: npm run start
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      DEBUG: nodejs-docker-express:*
    healthcheck:
      test: curl --fail http://54.163.234.235:3000 || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
# Names our volume
volumes:
  my-db: